# Ignore CSV files
*.csv

# Ignore Jupyter Notebooks
*.ipynb

# Ignore Jupyter Checkpoints (whatever they are)
.ipynb*/

# Ignore all directories starting with 'sample_csvs'
sample_csvs*/

# Ignore virtual environment folder
venv/

# Ignore databases
*.db
*.db.bak

#ignore tar files
*.tar*

# Ignore spreadsheet files
spreadsheet*/